html {
    min-width: 400px;
    background-color: var(--obsidian);
}

body {
    text-align: center;
    font-family: var(--font-body);
    font-weight: 300;
    color: var(--text-bone);
    line-height: 1.6;
    margin: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-header);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: var(--bone);
}

nav a, a {
    text-decoration: none;
    color: var(--text-bone);
}

.container {
    width: 100%;
    max-width: none; 
    margin: 0;
    box-sizing: border-box;
}

/* Specific fix for the header to keep it flush */
header .container.title {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* --- BUTTONS --- */
.btn {
    display: inline-block;
    padding: 12px 24px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 4px;
    font-family: var(--font-body);
    transition: all 0.3s ease;
}

.btn-primary {
    background-color: var(--obsidian);
    color: var(--bone);
    border: 1px solid var(--bone);
    margin-top: 1rem;
}

.btn-secondary {
    background-color: var(--bone);
    color: var(--obsidian);
    margin: 2rem auto;
    display: block;
    width: max-content;
}


/* ==================================================
                    MAIN CONTENT SECTIONS
================================================== */
/* --- HEADER --- */
header {
    margin: 0 auto;
    background-size: 600px;
    justify-content: center;
    align-items: center;
}

/* --- HERO --- */
.hero-container-full {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
}

.hero {
    width: 100%;
    height: 60vh;
    min-height: 400px;
    background-image: linear-gradient(rgba(10, 7, 17, 0.6), rgba(10, 7, 17, 0.6)), url('../images/Photo_Video_GIT450_Bar_V1.png');
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    background-color: rgba(10, 7, 17, 0.85);
    padding: 2rem;
    border-radius: 8px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

/* --- COCKTAILS (HORIZONTAL SCROLL) --- */
.menu {
    padding: 3rem 0;
}

.menu h2 {
    font-family: var(--font-header);
    font-size: 27pt;
}

.carousel-container {
    display: flex;
    overflow-x: auto;
    gap: 1.5rem;
    padding: 1rem 1.5rem;
    mask-type: x mandatory;
    justify-content: space-evenly;
}

.carousel-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar for cleaner mobile look */
}

.cocktail-card {
    width: 200px; 
    flex-shrink: 0;    
    height: 280px;
    background-color: var(--smoke-violet);
    padding: 1.5rem 1rem;
    border-radius: 12px;
    scroll-snap-align: center;
    box-shadow: 0 0 20px rgba(200, 91, 41, 0.7);
    border: 1px solid var(--oxblood);
}

.card-img-1 {
    width: 150px;
    height: 150px;
    background-image: url('../images/Photo_Video_Project-Rum-Barrel_Coct1_V1.jpg'); 
    background-size: cover;     flex-shrink: 0;
    margin: 0 auto 1rem;
}
.card-img-2 {
    width: 150px;
    height: 150px;
    background-image: url('../images/photo-video-team-drink-2.JPG'); 
    background-size: cover;     flex-shrink: 0;
    margin: 0 auto 1rem;
}
.card-img-3 {
    width: 150px;
    height: 150px;
    background-image: url('../images/photo-video-team-drink-1.JPG'); 
    background-size: cover;     flex-shrink: 0;
    margin: 0 auto 1rem;
}
.card-img-4 {
    width: 150px;
    height: 150px;
    background-image: url('../images/temp-whiro.png'); 
    background-size: cover;     flex-shrink: 0;
    margin: 0 auto 1rem;
}
.card-img-5 {
    width: 150px;
    height: 150px;
    background-image: url('../images/Mid night Tiki.jpeg'); 
    background-size: cover;     flex-shrink: 0;
    margin: 0 auto 1rem;
}

.card-img-6 {
    width: 150px;
    height: 150px;
    background-image: url('../images/Volcanic Ember.jpeg'); 
    background-size: cover;     flex-shrink: 0;
    margin: 0 auto 1rem;
}

.cocktail-card h3 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.cocktail-card p {
    font-size: 0.8rem;
    line-height: 1.2;
    margin: 0;
}

.cocktail-card p:first-of-type {
    margin-bottom: .5rem; 
}
.cocktail-card p em {
    font-size: 0.9rem;
    font-style: italic;
    font-family: var(--font-header);
}

/* --- EVENTS --- */
.events {
    padding: 3rem 1.5rem;
    background: 
        linear-gradient(rgba(10, 7, 17, 0.85), rgba(10, 7, 17, 0.85)), 
        url('../images/Asset 1.png'); 
    
    background-repeat: repeat;
    background-size: 600px; /* Adjust this number to scale the pattern up or down */
}

.events h2 {
    font-family: var(--font-header);
    font-size: 27pt;
}

.event-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
}

.event-item {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background-color: rgba(10, 7, 17, 0.9);
    padding: 1rem;
    border-radius: 4px;
    text-align: left;
}

.event-img1 {
    width: 80px;
    height: 80px;
    background-image: url('../images/Jazz band.png'); 
    background-size: cover;     flex-shrink: 0;
}
.event-img2 {
    width: 80px;
    height: 80px;
    background-image: url('../images/fire dance.png'); 
    background-size: cover;     flex-shrink: 0;
}
.event-img3 {
    width: 80px;
    height: 80px;
    background-image: url('../images/dancers.png'); 
    background-size: cover;     flex-shrink: 0;
}

.event-details .date {
    font-weight: bold;
    color: var(--muted-gold);
    margin-bottom: 0.2rem;
}

.event-details .name {
    font-family: var(--font-header);
    font-size: 1.2rem;
    color: var(--bone);
    margin-bottom: 0.2rem;
}

.event-details .cost {
    font-size: 0.85rem;
}

/* --- OUR STORY --- */

.story {
    position: relative;
    padding: 5rem 1.5rem 8rem 1.5rem;
    background: 
        linear-gradient(to top, var(--oxblood) 250px, transparent 250px),
        linear-gradient(rgba(10, 7, 17, 0.85), rgba(10, 7, 17, 0.85)), 
        url('../images/Asset 1.png');
    background-size: auto, auto, 600px; 
    background-repeat: repeat;
    
    overflow: hidden; 
    z-index: 1;
}

.story h2 {
    font-family: var(--font-header);
    font-size: 27pt;
}


.story::before {
    content: "";
    position: absolute;
    background-color: var(--oxblood); 
    border-radius: 50%;   
    width: 500px; 
    height: 500px;
    top: 70px; 
    right: -250px; 
    
    z-index: -1; 
}

.story-content {
    position: relative;
    z-index: 2;
    max-width: 600px;
    margin: 0 auto;
    top: 80px; 
}

.story-img-placeholder {
    width: 60%;
    height: 300px;
    background-image: url('../images/BrandTeam2_GIT450_550_Po_Po_StonePrincess_V1.jpeg'); 
    background-size: cover; 
        background-position: center; 
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    margin: 0 auto 2rem auto;
    position: relative;
    top: 80px; 
    z-index: 2;
}

/* ==================================================
                    FOOTER
================================================== */
footer {
    background-color: var(--obsidian);
    padding: 3rem 1.5rem;
    border-top: 1px solid var(--smoke-violet);
    text-align: left;
}

.footer-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 800px;
}

.footer-address h2, .footer-social h2 {
    font-size: 1.2rem;
    color: var(--muted-gold);
    margin-bottom: 0.8rem;
}

.footer-subhead, .footer-contact-head {
    font-size: 1.2rem;
    color: var(--muted-gold);
    margin: 1.5rem 0 0.5rem 0;
}

footer p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

footer a:hover {
    color: var(--ember);
}

/* ==================================================
                    MEDIA QUERIES
================================================== */

@media screen and (min-width: 900px) {
    .story {
        padding: 8rem 1.5rem 200px 1.5rem;
        background: 
            linear-gradient(to top, var(--oxblood) 200px, transparent 200px),
            linear-gradient(rgba(10, 7, 17, 0.85), rgba(10, 7, 17, 0.85)), 
            url('../images/Asset 1.png'); 
        background-size: auto, auto, 600px;
    }

    .story-img-placeholder {
        width: 80%;
        max-width: 1000px;
        height: 400px;
        margin: 0 auto;
        top: 0; 
    }

    .story-content {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 800px;
        height: 200px; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
        top: auto; 
    }

    .story::before {
        width: 1000px; 
        height: 1000px;
        top: auto; 
        bottom: -300px; 
        right: -400px; 
    }

    .story-img-placeholder {
        width: 80%;
        max-width: 1000px;
        height: 400px;
        margin: 0 auto;
        top: 0; 
        background-image: url('../images/BrandTeam2_GIT450_550_Po_VolcanicSurfaceBackground_V1.png'); 
    }
}
@media screen and (min-width: 600px) {
    /* FOOTER FLEX FOR TABLET/DESKTOP */
    .footer-grid {
        flex-direction: row;
        justify-content: space-between;
    }
    

}