    /* Page */

html {
    background: linear-gradient(rgba(10, 7, 17, 0.85), rgba(10, 7, 17, 0.85)), url("images/Asset 1.png");
    background-repeat: repeat;
    background-size: 600px;
    margin: 0 auto;
}


    /* Header*/
header {
    background-color: transparent;
    border-bottom: none;
}

    /* Main */
main {
    background: linear-gradient(
        to bottom, 
        var(--oxblood) 0%,
        var(--obsidian) 40%, 
        var(--obsidian) 50%,
        var(--obsidian) 100% );
}

    /* Story Section */
.story {
    text-align: center;
    padding: 80px 20px 60px;
    position: relative;
    font-weight: 700;
    margin-top: 160px;
}

.circle {
    width: 180px;
    height: 180px;
    background: #ccc;
    border-radius: 55%;
    border: 14px solid var(--oxblood);
    position: absolute;
    top: -140px;
    transform: translate(-50%);
    left: 50%;
    align-content: center;
}

.story h2 {
    margin-bottom: 25px;
    font-family: var(--font-header);
    font: var(--font-header);
    font-size: 27px;
}

.story p {
    font-size: 12px;
    font-family: var(--font-body);
    color: #ddd;
    line-height: 1.6;
    max-width: 320px;
    margin: 10px auto;
}

/* Gallery Grid */
.gallery {
    padding: 30px 20px;
}

.gallery h2 {
    font: var(--font-header);
    font-size: 27px;
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: 20px;
    align-content: center;
}

.box {
    background: #ccc;
    height: 130px;
}

.box.tall {
    height: 300px;
}

.box.wide {
    grid-column: span 1;
    height: 175px;
}

    /* Footer */
footer {
    background-color: var(--obsidian);
    border-top: 1px solid var(--muted-gold);
}


/* Media Queries */

/* Mobile-first (small) /*


/* Tablets (medium) */
@media screen and (min-width: 600px){
    .page {
        padding: 0;
        margin: 0;
    } 

    .story {
        margin-top: 140px;
    }

    .story p {
        max-width: 600px;
        font-size: 12px;
        font-family: var(--font-body);
        justify-self: start;
    }

    .circle {
        width: 185px;
        height: 185px;
        top: -150px;
    }

    .grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    .box.tall {
        grid-row: span 2;
        height: auto;
    }

    .box.wide {
        grid-column: span 1;
    }

}


/* Desktops (large) */
@media screen and (min-width: 900px){
    .page {
        min-width: 400px;
        padding: 0;
        margin: 0;
    }

    .circle {
        width: 195px;
        height: 195px;
        top: -140px;
    }

    .story {
        display: grid;
        align-items: center;
        padding: 100px 60px 100px;
        gap: 15px;
        margin-top: 160px;
    }

    .story h2 {
        text-align: center;
    }

    .story p {
        font-size: 12px;
        font-family: var(--font-body);
        justify-self: start;
}

/* adjust gallery grid layout */

    .grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-flow: row dense;
        gap: 12px;
    }

    .box.tall {
        grid-row: span 2;
        height: 400px;
    }

    .box.wide {
        grid-column: span 2;
        height: 193px;
        width: auto;
    }

    .box {
        height: 193px;
    }

}